<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MahaAgX – Dataset Access Request Received</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<p>Dear ${CONSUMER_FIRST_NAME} ${CONSUMER_LAST_NAME},</p>

<p>
    Thank you for submitting your dataset access request on the ${PLATFORM_NAME} platform.
    We have successfully received your request and it is currently under review.
</p>

<!--<p>
    <strong>Dataset:</strong> {{ASSET_NAME}}<br/>
    <strong>Description:</strong> {{ASSET_DESCRIPTION}}
</p>-->

<p>
    You will be notified once your request has been processed by the respective data provider. In
    the meantime, you can track the status of your request by logging into your ${PLATFORM_SHORT_NAME} account.
</p>

<p>
    For any queries or access-related issues, please reach out to us via:
    <br/>
    <a href="${CONTACT_US_URL}">
        ${CONTACT_US_URL}
    </a>
</p>

<br/>

<p>Warm regards,</p>
<p>${PLATFORM_NAME} Team</p>

</body>
</html>