openapi: 3.0.2
info:
  title: Telangana-Data-Exchange-ACL-Server + DX Authentication, Authorization, and
    Accounting (AAA) Server
  version: 1.0.0 & 5.6.0
  description: "\n# Introduction\n\n**Telangana Data Exchange (TgDeX) Access Control\
    \ List (ACL) Server** are designed for creating and managing policies for consumers\
    \ and consumer delegates.\nThis allows providers and provider delegates to control\
    \ access to their resources by consumers and consumer delegates.\nThis API specification\
    \ for ACL APD requires a bearer token from the **Data Exchange (DX) Keycloak**\
    \ for authentication purposes.\n\n# Configurations\n- **Server**: \n  - In the\
    \ doc, we display the server url to be https://example-apd.com with the hostname\
    \ as example-apd.com\n  - This could be configured according to the deployment\n\
    - **Base path**:\n     - Base path is the path on which API is served, relative\
    \ to the host\n     - It is the initial part of the API\n     - These base path\
    \ values could be configured according to the deployment\n     - The base path\
    \ for [DX AAA Server](https://github.com/datakaveri/iudx-aaa-server) is set to\
    \ `/auth/v1`\n     - The base path for [DX Catalogue Server](https://github.com/datakaveri/iudx-catalogue-server)\
    \ is set to `/iudx/cat/v1`\n     - All the APIs except `/verify` endpoint contain\
    \ `/dx/apd/acl/v1` as it's base path\n- **Request Samples**:\n  - The `<tokenValue>`\
    \ in the header of request sample could be replaced with respective token value\
    \ [Also refer Tokens section [here](#section/Tokens)]\n  - The `<payload>` in\
    \ the request sample could be replaced with the payload given adjacent to the\
    \ request sample    \n\n# Tokens\n - All the endpoints should contain valid DX\
    \ Identity token in the request header\n\n| Endpoint | Token Type | Users |\n\
    |----------|------------|--------|\n| [(GET) /access_request/provider](#operation/get-auth-v1-access-requests-provider)\
    \  | DX Keycloak Token | Provider, Org Admin |\n| [(GET) /access_request/consumer](#operation/get-auth-v1-access-requests-consumer)\
    \  | DX Keycloak Token | Consumer, Provider,Cos Admin,Org Admin,user with compute|\n\
    | [(POST) /access_request](#operation/post-auth-v1-access-requests)  | DX Keycloak\
    \ Token | Consumer, Provider,Cos Admin,Org Admin,user with compute |\n| [(PUT)\
    \ /access_request](#operation/put-auth-v1-access-requests)  | DX Keycloak Token\
    \ | Provider,Org Admin |\n| [(POST) /access_request/has_access](#operation/post-auth-v1-access-requests-has-access)\
    \  | DX Keycloak Token | Consumer, Provider,Cos Admin,Org Admin,user with compute\
    \ |\n| [(GET) /access_request/provider/report](#operation/get-auth-v1-access-requests-provider-report)\
    \  | DX Keycloak Token | Provider |\n| [(GET) /access_request/organisation/report](#operation/get-auth-v1-access-requests-org-admin-report)\
    \ | DX Keycloak Token | Org  Admin |\n| [(GET) /access_request/organisation](#operation/get-auth-v1-access-requests-organisation)\
    \ | DX Keycloak Token | Org Admin | \n\n# API HTTP Responses\n Apart from the\
    \ response codes specified in each API, the API server may respond with certain\
    \ 4xx and 5xx error codes which are related to common API Gateway behaviours.\n\
    \ The application should address them accordingly.\n\n\n---\n\nAPI specification\
    \ for DX AAA Server. These APIs are used by users manage organisations, creadits\
    \  "
  contact:
    name: For support contact CDPG Team at
    email: support@datakaveri.org
    url: https://dataforpublicgood.org.in/
  license:
    name: Apache 2.0
servers:
  - url: https://cos.iudx.org.in
    description: Production
  - url: https://authvertx.iudx.io
    description: Development
paths:
  /dx/apd/acl/v1/access_request:
    post:
      tags:
        - Access Request
      summary: Create Access Request
      description: 'Access requests are made by consumer to request a provider to
        grant access to the provider''s resources.

        A provider will be notified whenever the consumer creates an access request.


        Users with the consumer role can request access for a resource/resource group
        <br>

        `Note`: The request cannot be made for the asset if the user is a provider
        of the resource'
      operationId: post-auth-v1-access-requests

      requestBody:
        description: '- `itemId` : The catalogue ID of the asset for which the request
          is to be created

          - `requestType` : The type of usage of asset

          '
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                itemId:
                  type: string
                  format: uuid
                  pattern: ^[0-9a-f]{8}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{12}$
                requestType:
                  enum:
                    - DOWNLOAD
                  minLength: 1
                additionalInfo:
                  description: Used to define additional information to access data
                    for educational, research or testing, non-commercial, academia
                    purposes
                  type: object
                  minProperties: 1
                  maxProperties: 10
              required:
                - itemId
                - requestType
              x-examples:
                example-1:
                  itemId: b34eb955-c691-4fd3-b200-f18bc78810a2
                  requestType: DOWNLOAD
            examples:
              Create Access Request:
                value:
                  itemId: b34eb955-c691-4fd3-b200-f18bc78810a2
                  requestType: DOWNLOAD
              Create Access Request with additionalInfo:
                value:
                  itemId: b34eb955-c691-4fd3-b200-f18bc78810a2
                  requestType: DOWNLOAD
                  additionalInfo:
                    name: Miles Davis
                    email: miles@davis.org
                    phone: 987654321
                    purpose: testing
                    description: The resource would be used for testing the abcd application
                      in which services are offered free of cost for public welfare
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNotificationSuccessResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: 'Bad Request

            - Schema validation, missing or incorrect fields & values'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generalBadRequest'
              examples:
                Example:
                  value:
                    type: urn:dx:acl:badRequest
                    title: Bad Request
                    detail: Request could not be created, as the item type is invalid
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: 'Unauthorized

            - `token` invalid/expired

            - A user with non-consumer role trying to create a request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '403':
          description: 'Forbidden

            - User cannot create access request for the resource, as the user is a
            provider of the resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNotificationForbidden'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '404':
          description: 'Not Found

            - Resource not found in Data Exchange Catalogue Server'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNotificationResourceNotFoundResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '409':
          description: 'Conflict

            - The policy or request for the given resource was previously created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNotificationConflictResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Create access request
          source: "curl --location --request POST 'https://example-apd.com/dx/apd/acl/v1/policies/requests'\
          \ \\\n--header 'Authorization: <tokenValue>' \\\n--header 'Content-Type:\
          \ application/json' \\\n  --data-raw '<payload>'\n"
        - lang: cURL
          label: Create access request with additional info
          source: "curl --location --request POST 'https://example-apd.com/dx/apd/acl/v1/policies/requests'\
          \ \\\n--header 'Authorization: <tokenValue>' \\\n--header 'Content-Type:\
          \ application/json' \\\n  --data-raw '<payload>'\n"
    put:
      tags:
        - Access Request
      summary: Update Access Request
      description: 'Providers or organization admin can choose to approve or reject
        **pending** access requests associated with their asset or their organisation
        respectively.


        If the request is approved

        - The request is modified to the `approved` state

        - A policy is created corresponding to the requested resource with the applicable
        expiry time and constraints.


        If the request is rejected

        - The request is modified to the `rejected` state

        '
      operationId: put-auth-v1-access-requests
      requestBody:
        description: '- `requestId` :  ID of the request. Can get this `id` by using
          the GET Access request API.

          - `status` : The `provider` or `provider delegate` can update the status
          to `granted` or `rejected`.

          - `expiryAt` : expiration time stamp with ISO 8601 format to provide access
          to the given asset (Only present for the granted requests).'
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: approve access request
                  additionalProperties: false
                  type: object
                  properties:
                    requestId:
                      type: string
                      format: uuid
                      pattern: ^[0-9a-f]{8}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{12}$
                    status:
                      type: string
                      enum:
                        - granted
                    expiryAt:
                      type: string
                      description: ISO 8601 format timestamp to provide access to the
                        given asset
                  required:
                    - requestId
                    - status
                - title: reject access request
                  additionalProperties: false
                  type: object
                  properties:
                    requestId:
                      type: string
                      format: uuid
                      pattern: ^[0-9a-f]{8}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{12}$
                    status:
                      type: string
                      enum:
                        - rejected
                  required:
                    - requestId
                    - status
              x-examples:
                example-1:
                  requestId: bca11712-f381-46a5-afa3-a29b00568ace
                  status: granted
                  expiryAt: '2026-03-05T20:00:19'
            examples:
              Update Approved access request:
                value:
                  requestId: bca11712-f381-46a5-afa3-a29b00568ace
                  status: granted
                  expiryAt: '2026-03-05T20:00:19'
              Update Rejected access request:
                value:
                  requestId: bca11712-f381-46a5-afa3-a29b00568ace
                  status: rejected
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccessRequest'
              examples:
                Update:
                  value:
                    type: urn:dx:acl:success
                    title: Success
                    detail: Request updated successfully
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '404':
          description: '- Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationNotFound'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: '- Unauthorized - `token` invalid/expired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '403':
          description: 'Forbidden

            - User does not own the asset or item for which access request is being
            granted or rejected'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationForbiddenResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Reject access request
          source: "curl --location --request PUT 'https://example-apd.com/dx/apd/acl/v1/policies/requests'\
          \ \\\n--header 'Authorization: <tokenValue>' \\\n--header 'Content-Type:\
          \ application/json' \\\n  --data-raw '<payload>'\n"
        - lang: cURL
          label: Approve access request
          source: "curl --location --request PUT 'https://example-apd.com/dx/apd/acl/v1/policies/requests'\
          \ \\\n--header 'Authorization: <tokenValue>' \\\n--header 'Content-Type:\
          \ application/json' \\\n  --data-raw '<payload>'\n"
  /dx/apd/acl/v1/access_request/provider:
    get:
      tags:
        - Access Request
      summary: List Access Requests for Provider
      description: 'Lists all the latest access requests for assets owned by the provider/provider
        delegate calling the API, regardless of the state of the access requests.


        <br>

        <br>


        `Note:` The response displays the requests for a provider with respect to
        a particular server.'
      operationId: get-auth-v1-access-requests-provider
      parameters:

        - name: requestStatus
          in: query
          description: Status of the access request. Displays all the access requests
            if status is not specified
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - GRANTED
              - REJECTED
        - name: assetType
          in: query
          description: Type of the asset for which the access request is made. Displays
            all the access requests if assetType is not specified
          required: false
          schema:
            type: string
            enum:
              - adex:DataBank
              - adex:AiModel
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortingParam'
        - $ref: '#/components/parameters/TimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TimeRelParam'
      responses:
        '200':
          description: 'OK

            - Successfully fetched all the requests of a consumer or of a provider'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequest'
              examples:
                ListResults:
                  value:
                    type: urn:dx:acl:success
                    title: Success
                    results:
                      - requestId: ea48d233-5d3b-4bdb-9545-691680c99cee
                        requestStatus: GRANTED
                        requestType: DOWNLOAD
                        additionalInfo:
                          name: Miles Morales,
                          email: miles.morales@acmecorp.org,
                          phoneNo: 9876543210,
                          purpose: academia,
                          description: AI model would be used for non-commercial, academia
                            purposes to test the application abcd
                        user:
                          consumerId: a13eb955-c691-4fd3-b200-f18bc78810b5
                          consumerFirstName: Plutonian
                          consumerLastName: Resident
                          consumerEmail: scroopy@noopers.com
                          consumerOrganization: Scroopy Noopers Corp
                        asset:
                          itemId: 316cd4eb-71b3-42c2-beb2-785a77999321
                          assetName: Ice Estimation Model
                          assetType: adex:AiModel
                          shortDescription: This is a test AI model for estimating percentage
                            of ice on Pluto
                        expiryAt: '3000-03-05T20:00:19'
                        updatedAt: '2025-06-04T07:25:08.663637'
                        createdAt: '2025-06-04T09:10:57.267564'
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 3
                      totalPages: 3
                      hasNext: true
                      hasPrevious: false
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: '- Unauthorized - `token` invalid/expired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Get access requests
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: Get access request with status
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider?requestStatus=GRANTED''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: With pagination query params
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider?requestStatus=PENDING&timerel=after&time=2022-06-26T07:19:11.325746&sort=requestId:desc;createdAt:asc''
          \

          '
          --header 'Authorization: <tokenValue>'
  /dx/apd/acl/v1/access_request/provider/report:
    get:
      tags:
        - Access Request
      summary: Get Access Request Report for Provider
      description: "Lists all the latest access requests for assets owned by the provider/provider\
        \ delegate calling the API, regardless of the state of the access requests.\
        \ \nIt adds the response in a CSV file and lets the user download it."
      operationId: get-auth-v1-access-requests-provider-report
      parameters:

        - name: requestStatus
          in: query
          description: Status of the access request. Displays all the access requests
            if status is not specified
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - GRANTED
              - REJECTED
        - name: assetType
          in: query
          description: Type of the asset for which the access request is made. Displays
            all the access requests if assetType is not specified
          required: false
          schema:
            type: string
            enum:
              - adex:AiModel
              - adex:DataBank
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortingParam'
        - $ref: '#/components/parameters/TimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TimeRelParam'
      responses:
        '200':
          description: 'OK

            - Successfully fetched all the requests of a consumer or of a provider'
          content:
            application/csv:
              schema:
                type: string
                format: binary
                description: CSV file containing the access requests similar to the
                  JSON response in GET /access_request/provider
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values. If there is no data for csv generation, it returns a 400 error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportGenerationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: '- Unauthorized - `token` invalid/expired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '403':
          description: When consumer is trying to access the report generation API
            or when the user is not a provider user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportGenerationForbiddenResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Get access requests
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider/report''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: Get access request with status
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider/report?requestStatus=GRANTED''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: With pagination query params
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider/report?requestStatus=PENDING&timerel=after&time=2022-06-26T07:19:11.325746&sort=requestId:desc;createdAt:asc''
          \

          '
          --header 'Authorization: <tokenValue>'
  /dx/apd/acl/v1/access_request/organisation/report:
    get:
      tags:
        - Access Request
      summary: Get Access Request Report for Organization Admin
      description: "Lists all the latest access requests for assets present in a certain\
        \ organization when called by Organization Admin, regardless of the state\
        \ of the access requests. \nIt adds the response in a CSV file and lets the\
        \ user download it. The organization admin can view the access requests of\
        \ all the users in the organization."
      operationId: get-auth-v1-access-requests-org-admin-report
      parameters:

        - name: requestStatus
          in: query
          description: Status of the access request. Displays all the access requests
            if status is not specified
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - GRANTED
              - REJECTED
        - name: assetType
          in: query
          description: Type of the asset for which the access request is made. Displays
            all the access requests if assetType is not specified
          required: false
          schema:
            type: string
            enum:
              - adex:AiModel
              - adex:DataBank
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortingParam'
        - $ref: '#/components/parameters/TimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TimeRelParam'
      responses:
        '200':
          description: 'OK

            - Successfully fetched all the requests of a consumer or of a provider
            belonging to the certain organization'
          content:
            application/csv:
              schema:
                type: string
                format: binary
                description: CSV file containing the access requests similar to the
                  JSON response
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values. If there is no data for csv generation, it returns a 400 error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportGenerationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: '- Unauthorized - `token` invalid/expired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '403':
          description: When consumer, provider or user other than org admin is trying
            to access the report generation API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportGenerationForbiddenResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Get access requests
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/organisation/report''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: Get access request with status
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/organisation/report?requestStatus=GRANTED''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: With pagination query params
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/organisation/report?requestStatus=PENDING&timerel=after&time=2022-06-26T07:19:11.325746&sort=requestId:desc;createdAt:asc''
          \

          '
          --header 'Authorization: <tokenValue>'
  /dx/apd/acl/v1/access_request/organisation:
    get:
      tags:
        - Access Request
      summary: List Organization Access Requests
      description: 'Lists all the latest access requests for all the assets in the
        organization owned by the organization admin (Org Admin), regardless of the
        state of the access requests.

        After viewing the access request, the organization admin can reject or approve
        the access request using the [Update Access Request](#operation/put-auth-v1-access-requests)
        API.


        <br>

        <br>


        `Note:` The response displays the requests for a provider with respect to
        a particular organization that the org admin owns.'
      operationId: get-auth-v1-access-requests-organisation
      parameters:
        - name: requestStatus
          in: query
          description: Status of the access request. Displays all the access requests
            if status is not specified
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - GRANTED
              - REJECTED
        - name: assetType
          in: query
          description: Type of the asset for which the access request is made. Displays
            all the access requests if assetType is not specified
          required: false
          schema:
            type: string
            enum:
              - adex:DataBank
              - adex:AiModel
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortingParam'
        - $ref: '#/components/parameters/TimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TimeRelParam'
      responses:
        '200':
          description: 'OK

            - Successfully fetched all the requests of a consumer or of a provider
            in the organization'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequest'
              examples:
                ListResults:
                  value:
                    type: urn:dx:acl:success
                    title: Success
                    results:
                      - requestId: ea48d233-5d3b-4bdb-9545-691680c99cee
                        requestStatus: GRANTED
                        requestType: DOWNLOAD
                        additionalInfo:
                          name: Miles Morales,
                          email: miles.morales@acmecorp.org,
                          phoneNo: 9876543210,
                          purpose: academia,
                          description: AI model would be used for non-commercial, academia
                            purposes to test the application abcd
                        user:
                          consumerId: a13eb955-c691-4fd3-b200-f18bc78810b5
                          consumerFirstName: Plutonian
                          consumerLastName: Resident
                          consumerEmail: scroopy@noopers.com
                          consumerOrganization: Scroopy Noopers Corp
                        asset:
                          itemId: 316cd4eb-71b3-42c2-beb2-785a77999321
                          assetName: Ice Estimation Model
                          assetType: adex:AiModel
                          shortDescription: This is a test AI model for estimating percentage
                            of ice on Pluto
                        expiryAt: '3000-03-05T20:00:19'
                        updatedAt: '2025-06-04T07:25:08.663637'
                        createdAt: '2025-06-04T09:10:57.267564'
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 3
                      totalPages: 3
                      hasNext: true
                      hasPrevious: false
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: '- Unauthorized - `token` invalid/expired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Get access requests
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: Get access request with status
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider?requestStatus=GRANTED''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: With pagination query params
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/provider?requestStatus=PENDING&timerel=after&time=2022-06-26T07:19:11.325746&sort=requestId:desc;createdAt:asc''
          \

          '
          --header 'Authorization: <tokenValue>'
  /dx/apd/acl/v1/access_request/consumer:
    get:
      tags:
        - Access Request
      summary: List Consumer Access Requests
      description: Lists all the latest access requests of the consumer calling the
        API regardless of the state of the access requests.
      operationId: get-auth-v1-access-requests-consumer
      parameters:

        - name: requestStatus
          in: query
          description: Status of the access request. Displays all the access requests
            if status is not specified
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - GRANTED
              - REJECTED
        - name: assetType
          in: query
          description: Type of the asset for which the access request is made. Displays
            all the access requests if assetType is not specified
          required: false
          schema:
            type: string
            enum:
              - adex:DataBank
              - adex:AiModel
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortingParam'
        - $ref: '#/components/parameters/TimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/TimeRelParam'
      responses:
        '200':
          description: Successfully fetched all the requests of a consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequest'
              examples:
                ListResults:
                  value:
                    type: urn:dx:acl:success
                    title: Success
                    results:
                      - requestId: ea48d233-5d3b-4bdb-9545-691680c99cee
                        requestStatus: GRANTED
                        requestType: DOWNLOAD
                        additionalInfo:
                          name: Miles Morales,
                          email: miles.morales@acmecorp.org,
                          phoneNo: 9876543210,
                          purpose: academia,
                          description: AI model would be used for non-commercial, academia
                            purposes to test the application abcd
                        user:
                          consumerId: a13eb955-c691-4fd3-b200-f18bc78810b5
                          consumerFirstName: Plutonian
                          consumerLastName: Resident
                          consumerEmail: scroopy@noopers.com
                          consumerOrganization: Scroopy Noopers Corp
                        asset:
                          itemId: 316cd4eb-71b3-42c2-beb2-785a77999321
                          assetName: Ice Estimation Model
                          assetType: adex:AiModel
                          shortDescription: This is a test AI model for estimating percentage
                            of ice on Pluto
                        expiryAt: '3000-03-05T20:00:19'
                        updatedAt: '2025-06-04T07:25:08.663637'
                        createdAt: '2025-06-04T09:10:57.267564'
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 3
                      totalPages: 3
                      hasNext: true
                      hasPrevious: false
        '400':
          description: Bad Request- Schema validation, missing or incorrect fields
            & values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateNotificationBadRequest'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: Unauthorized - token invalid/expired or non-consumer role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Get consumer access requests
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/consumer''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: Get consumer access request with status
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/consumer?requestStatus=GRANTED''
          \

          '
          --header 'Authorization: <tokenValue>'
        - lang: cURL
          label: With pagination query params
          source: 'curl --location --request GET ''https://example-apd.com/dx/apd/acl/v1/access_request/consumer?requestStatus=PENDING&timerel=after&time=2022-06-26T07:19:11.325746&sort=requestId:desc;createdAt:asc''
          \

          '
          --header 'Authorization: <tokenValue>'
  /dx/apd/acl/v1/access_request/has_access:
    post:
      tags:
        - Access Request
      summary: Check Access Request
      description: Checks if the access requests that were previously created by consumer
        or consumer delegate, has been approved by the provider or provider delegate
      operationId: post-auth-v1-access-requests-has-access
      requestBody:
        description: '- `itemId` : The catalogue ID of the asset for which the request
          has been created

          '
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                itemId:
                  type: string
                  format: uuid
                  pattern: ^[0-9a-f]{8}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{4}\b-[0-9a-f]{12}$
              required:
                - itemId
              x-examples:
                example-1:
                  itemId: b34eb955-c691-4fd3-b200-f18bc78810a2
            examples:
              Create Access Request:
                value:
                  itemId: b34eb955-c691-4fd3-b200-f18bc78810a2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkAccessRequestSuccessResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '400':
          description: 'Bad Request

            - Schema validation, missing or incorrect fields & values'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generalBadRequest'
              examples:
                Example:
                  value:
                    type: urn:dx:acl:badRequest
                    title: Bad Request
                    detail: Missing or malformed request
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '401':
          description: 'Unauthorized

            - `token` invalid/expired

            - A user with non-consumer role trying to use the API'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
        '403':
          description: 'Forbidden

            - User''s access request is still in pending status or has been rejected
            by the provider of the resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkAccessRequestNotFoundResponse'
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
      security:
        - authorization: [ ]
      x-codeSamples:
        - lang: cURL
          label: Check access request
          source: "curl --location --request POST 'https://example-apd.com/dx/apd/acl/v1/access_request/has_access'\
          \ \\\n--header 'Authorization: <tokenValue>' \\\n--header 'Content-Type:\
          \ application/json' \\\n  --data-raw '<payload>'\n"
  /auth/v1/organisations/requests:
    get:
      summary: Get all organisation creation requests
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 41290efb-057b-4296-872c-a764f6ff5615
                        requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        name: Quant Sandbox
                        logoPath: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: https://ai.example.com
                        address: 123 Quant Labs, Bangalore, India
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        status: pending
                        userName: test test
                        empId: EMP12345
                        jobTitle: Manager
                        orgManagerphoneNo: +91-9876543210
                        managerEmail: manager@gmail.com
                        orgDocuments: null
                        createdAt: '2025-06-03T16:01:59.532782'
                        updatedAt: '2025-06-03T16:01:59.532782'
                        tableName: organization_create_requests
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        requestedBy:
                          type: string
                        name:
                          type: string
                        logoPath:
                          type: string
                        entityType:
                          type: string
                        orgSector:
                          type: string
                        websiteLink:
                          type: string
                        address:
                          type: string
                        certificatePath:
                          type: string
                        pancardPath:
                          type: string
                        relevantDocPath:
                          type: string
                        status:
                          type: string
                        userName:
                          type: string
                        empId:
                          type: string
                        jobTitle:
                          type: string
                        orgManagerphoneNo:
                          type: string
                        managerEmail:
                          type: string
                        orgDocuments:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    properties:
                      page:
                        type: integer
                      size:
                        type: integer
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 41290efb-057b-4296-872c-a764f6ff5615
                        requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        name: Quant Sandbox
                        logoPath: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: https://ai.example.com
                        address: 123 Quant Labs, Bangalore, India
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        status: pending
                        userName: test test
                        empId: EMP12345
                        jobTitle: Manager
                        orgManagerphoneNo: +91-9876543210
                        managerEmail: manager@gmail.com
                        orgDocuments: null
                        createdAt: '2025-06-03T16:01:59.532782'
                        updatedAt: '2025-06-03T16:01:59.532782'
                        tableName: organization_create_requests
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - title
                  - detail
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
                Example 2:
                  value:
                    type: urn:dx:aaa:notAuthorized
                    title: Not Authorized
                    detail: Unauthorized
                Example 3:
                  value:
                    type: urn:dx:aaa:notAuthorized
                    title: Not Authorized
                    detail: Missing Bearer token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:MissingInformation
                    title: Joining requests not found
                    detail: No joining requests
      operationId: get-auth-v1-organisations-request

      security:
        - authorization: [ ]
    parameters: [ ]
    post:
      summary: New organisation creation request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      requestedBy:
                        type: string
                      name:
                        type: string
                      logoPath:
                        type: string
                      entityType:
                        type: string
                      orgSector:
                        type: string
                      websiteLink:
                        type: string
                      address:
                        type: string
                      certificatePath:
                        type: string
                      pancardPath:
                        type: string
                      relevantDocPath:
                        type: string
                      status:
                        type: string
                      userName:
                        type: string
                      empId:
                        type: string
                      jobTitle:
                        type: string
                      orgManagerphoneNo:
                        type: string
                      managerEmail:
                        type: string
                      orgDocuments:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: 4202493c-7c64-49b0-8f61-2000ca3d147c
                      requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                      name: Quants Sandbox
                      logoPath: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      status: pending
                      userName: test test
                      empId: EMP12345
                      jobTitle: Manager
                      orgManagerphoneNo: +91-9876543210
                      managerEmail: manager@gmail.com
                      orgDocuments: null
                      createdAt: '2025-06-03T16:25:25.167724'
                      updatedAt: '2025-06-03T16:25:25.167724'
                      tableName: organization_create_requests
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: 4202493c-7c64-49b0-8f61-2000ca3d147c
                      requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                      name: Quants Sandbox
                      logoPath: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      status: pending
                      userName: test test
                      empId: EMP12345
                      jobTitle: Manager
                      orgManagerphoneNo: +91-9876543210
                      managerEmail: manager@gmail.com
                      orgDocuments: null
                      createdAt: '2025-06-03T16:25:25.167724'
                      updatedAt: '2025-06-03T16:25:25.167724'
                      tableName: organization_create_requests
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:conflict
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint
                      "organization_create_requests_name_key" (23505)'
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:conflict
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint
                      "organization_create_requests_name_key" (23505)'
      operationId: post-auth-v1-organisations-request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                logo_path:
                  type: string
                entity_type:
                  type: string
                org_sector:
                  type: string
                website_link:
                  type: string
                address:
                  type: string
                certificate_path:
                  type: string
                pancard_path:
                  type: string
                emp_id:
                  type: string
                job_title:
                  type: string
                phone_no:
                  type: string
                organisation_documents:
                  type: string
                manager_email:
                  type: string
              x-examples:
                Example 1:
                  name: Quantum Labs
                  logo_path: /assets/logos/quantumlabs.png
                  entity_type: Startup
                  org_sector: Research & Development
                  website_link: https://quantumlabs.io
                  address: 42 Tech Boulevard, Hyderabad, India
                  certificate_path: /docs/certificates/quantum_cert.pdf
                  pancard_path: /docs/ids/quantum_pancard.pdf
                  emp_id: EMP98765
                  job_title: Operations Lead
                  phone_no: +91-9123456789
                  organisation_documents: /docs/organisations/quantum_docs.zip
                  manager_email: manager@gmail.com

      security:
        - authorization: [ ]
  /auth/v1/organisations/requests/approve:
    post:
      summary: Approve creation of new organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Updated Sucessfully
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Updated Sucessfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:badRequest
                    title: Bad Request
                    detail: No request found with given ID
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  '':
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:conflict
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint
                      "organizations_name_key" (23505)'
      operationId: post-auth-v1-approve-create_org

      security:
        - authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                req_id:
                  type: string
                status:
                  type: string
  /auth/v1/organisations/{id}/join_requests:
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: Get all requests for an organisation
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 5fc228bb-9a20-4052-968e-427c733d2264
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: ac2f3390-c7b0-4d4e-bb72-0bb8d9170309
                        userName: coder coder
                        status: pending
                        jobTitle: Employee
                        empId: EMP8790
                        officialEmail: member@gmail.com
                        requestedAt: '2025-06-03T16:35:48.404509'
                        processedAt: '2025-06-03T16:35:48.404509'
                        roles: [ ]
                        tableName: organization_join_requests
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        status:
                          type: string
                        jobTitle:
                          type: string
                        empId:
                          type: string
                        officialEmail:
                          type: string
                        requestedAt:
                          type: string
                        processedAt:
                          type: string
                        roles:
                          type: object
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    properties:
                      page:
                        type: integer
                      size:
                        type: integer
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 5fc228bb-9a20-4052-968e-427c733d2264
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: ac2f3390-c7b0-4d4e-bb72-0bb8d9170309
                        userName: coder coder
                        status: pending
                        jobTitle: Employee
                        empId: EMP8790
                        officialEmail: member@gmail.com
                        requestedAt: '2025-06-03T16:35:48.404509'
                        processedAt: '2025-06-03T16:35:48.404509'
                        tableName: organization_join_requests
                        roles:
                          - consumer
                          - default-roles-tgdex-pilot
                          - provider
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-organisations-join-requests

      security:
        - authorization: [ ]
    post:
      summary: Create Request to Join an Organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Created Join request
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Created Join request
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  '':
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidInput
                    title: Invalid Organisation
                    detail: The Organisation is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
                Example 2:
                  value:
                    type: urn:dx:aaa:notAuthorized
                    title: Not Authorized
                    detail: Unauthorized
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:conflict
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint
                      "organization_join_requests_user_id_key" (23505)'
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:conflict
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint
                      "organization_join_requests_user_id_key" (23505)'
      operationId: post-auth-v1-organisations-join-requests

      security:
        - authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                job_title:
                  type: string
                emp_id:
                  type: string
            examples:
              Example 1:
                value:
                  job_title: Employee
                  emp_id: EMP8790
  /auth/v1/organisations/{id}/join_requests/{req_id}:
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: req_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Request ID of the join request to update
    put:
      summary: Approve or update status of a join request
      tags:
        - Organisation APIs
      operationId: put-auth-v1-organisations-join-requests

      security:
        - authorization: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
              x-examples:
                Example 1:
                  status: granted
            examples:
              Example 1:
                value:
                  status: granted
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Approved Organisation Join Request
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Approved Organisation Join Request
        '400':
          description: Invalid request or status
          content:
            application/json:
              schema:
                type: object
                properties: { }
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:badRequest
                    title: Bad Request
                    detail: No request found with given ID
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:notAuthorized
                    title: Not Authorized
                    detail: Unauthorized
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:notAuthorized
                    title: Not Authorized
                    detail: Unauthorized
        '404':
          description: Join request not found
  /auth/v1/organisations:
    get:
      summary: List All Organisations
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: e87246e2-5da5-40b0-973c-690d2f48f879
                        orgName: Quant Sandbox
                        orgLogo: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: https://ai.example.com
                        address: 123 Quant Labs, Bangalore, India
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        orgDocuments: null
                        createdAt: '2025-06-03T16:28:24.205541'
                        updatedAt: '2025-06-03T16:28:24.205541'
                        tableName: organizations
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        orgName:
                          type: string
                        orgLogo:
                          type: string
                        entityType:
                          type: string
                        orgSector:
                          type: string
                        websiteLink:
                          type: string
                        address:
                          type: string
                        certificatePath:
                          type: string
                        pancardPath:
                          type: string
                        relevantDocPath:
                          type: string
                        orgDocuments:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    properties:
                      page:
                        type: integer
                      size:
                        type: integer
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: e87246e2-5da5-40b0-973c-690d2f48f879
                        orgName: Quant Sandbox
                        orgLogo: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: https://ai.example.com
                        address: 123 Quant Labs, Bangalore, India
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        orgDocuments: null
                        createdAt: '2025-06-03T16:28:24.205541'
                        updatedAt: '2025-06-03T16:28:24.205541'
                        tableName: organizations
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 9wrbsxlphpksr
                  title:
                    type: string
                    x-stoplight:
                      id: r7kv2o5mhdmrk
                  detail:
                    type: string
                    x-stoplight:
                      id: eavbt2unc332t
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 0d521fniq5ryq
                  title:
                    type: string
                    x-stoplight:
                      id: coae2yhcsmxkx
                  detail:
                    type: string
                    x-stoplight:
                      id: pwpn3m1hrm4f7
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:MissingInformation
                    title: No Organisations Found
                    detail: No Organisations Found
      operationId: get-auth-v1-org

      security:
        - authorization: [ ]
  /auth/v1/organisations/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: UUID of organization
    delete:
      summary: Delete organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: delete-auth-v1-organisations-id

      security:
        - authorization: [ ]
    put:
      summary: Update Organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      orgName:
                        type: string
                      orgLogo:
                        type: string
                      entityType:
                        type: string
                      orgSector:
                        type: string
                      websiteLink:
                        type: string
                      address:
                        type: string
                      certificatePath:
                        type: string
                      pancardPath:
                        type: string
                      relevantDocPath:
                        type: string
                      orgDocuments:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      orgName: Quantum Truely
                      orgLogo: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      orgDocuments: null
                      createdAt: '2025-06-03T16:28:24.205541'
                      updatedAt: '2025-06-03T16:28:24.205541'
                      tableName: organizations
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      orgName: Quantum Truely
                      orgLogo: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      orgDocuments: null
                      createdAt: '2025-06-03T16:28:24.205541'
                      updatedAt: '2025-06-03T16:28:24.205541'
                      tableName: organizations
      operationId: put-auth-v1-organisations-id

      security:
        - authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              x-examples:
                Example 1:
                  name: Quantum Truely
            examples:
              Example 1:
                value:
                  name: Quantum Truely
    get:
      summary: Get Organisation By ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      name: Quant Sandbox
                      logo_path: /logos/ai.png
                      entity_type: Private
                      org_sector: Technology
                      website_link: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificate_path: /documents/certificate.pdf
                      pancard_path: /documents/pancard.pdf
                      created_at: '2025-06-03T16:28:24.205541'
                      updated_at: '2025-06-03T16:28:24.205541'
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      logo_path:
                        type: string
                      entity_type:
                        type: string
                      org_sector:
                        type: string
                      website_link:
                        type: string
                      address:
                        type: string
                      certificate_path:
                        type: string
                      pancard_path:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: i2j6hw45mr0m1
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: atus73ss5j3hx
                      size:
                        type: integer
                        x-stoplight:
                          id: ldplp5tqmab1s
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: 5b8htl3mzyatn
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: 8rxpevtk2xz4z
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: dbvf8j5jsd3qq
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: bq5pj0ajkf4wq
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      name: Quant Sandbox
                      logo_path: /logos/ai.png
                      entity_type: Private
                      org_sector: Technology
                      website_link: https://ai.example.com
                      address: 123 Quant Labs, Bangalore, India
                      certificate_path: /documents/certificate.pdf
                      pancard_path: /documents/pancard.pdf
                      created_at: '2025-06-03T16:28:24.205541'
                      updated_at: '2025-06-03T16:28:24.205541'
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-organisations-id
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: UUID of organization

      security:
        - authorization: [ ]
  /auth/v1/organisations/{id}/users:
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: List organisation Users
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 81980801-85b6-4b7d-ae54-5df38a3535bd
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        userName: test test
                        role: ADMIN
                        jobTitle: Manager
                        empId: EMP12345
                        orgManagerPhoneNo: +91-9876543210
                        officialEmail: user@gmail.com
                        createdAt: '2025-06-03T16:28:24.852025'
                        updatedAt: '2025-06-03T16:28:24.852025'
                        roles: [ ]
                        tableName: organization_users
                        accountEnabled: true
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        role:
                          type: string
                        jobTitle:
                          type: string
                        empId:
                          type: string
                        orgManagerPhoneNo:
                          type: string
                        officialEmail:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        roles:
                          type: object
                        accountEnabled:
                          type: boolean
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: habzk85vhyv4i
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: qquspu2iw2wyf
                      size:
                        type: integer
                        x-stoplight:
                          id: 5rqm7fj3rgcqi
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: iwkoo03wfc2d2
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: euhafbyvvrncv
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: ndure5aywto2y
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: cbqgznf2sy6d3
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    result:
                      - id: 81980801-85b6-4b7d-ae54-5df38a3535bd
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        userName: test test
                        role: ADMIN
                        jobTitle: Manager
                        empId: EMP12345
                        orgManagerPhoneNo: +91-9876543210
                        createdAt: '2025-06-03T16:28:24.852025'
                        updatedAt: '2025-06-03T16:28:24.852025'
                        roles:
                          - consumer
                        accountEnabled: true
                        tableName: organization_users
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: ki8ptrubbpfo4
                  title:
                    type: string
                    x-stoplight:
                      id: cy2up8v8a5pd0
                  detail:
                    type: string
                    x-stoplight:
                      id: 67gt97omjofae
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:InvalidAuthenticationToken
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties: { }
              examples:
                Example 1:
                  value:
                    type: urn:dx:as:MissingInformation
                    title: Admins not found
                    detail: No Organisation Admins Found
      operationId: get-auth-v1-org-users
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: UUID of organizations

      security:
        - authorization: [ ]
  /auth/v1/organisations/{id}/users/{user_id}:
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        description: UUID of the user
        schema:
          type: string
          format: uuid
    delete:
      summary: Delete User by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Deleted Organisation User
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Deleted Organisation User
      operationId: delete-auth-v1-organisations-users-id
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
          description: UUID of user
        - schema:
            type: string
          in: query
          description: UUID of organization
          name: id

      security:
        - authorization: [ ]
    put:
      summary: Update Organization User Role
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Updated Organisation User Role
              examples:
                Example 1:
                  value:
                    type: urn:dx:aaa:success
                    title: Success
                    detail: Updated Organisation User Role
      operationId: put-auth-v1-organization-users-role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  x-stoplight:
                    id: 35dhxezcb35eq
            examples:
              Example 1:
                value:
                  role: MEMBER
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: 'organization UUID '
        - schema:
            type: string
          in: query
          name: user_id
          description: user's UUID

      security:
        - authorization: [ ]
    get:
      summary: (Org Admin) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-organisations-id-users-user_id

      security:
        - authorization: [ ]
  /auth/v1/user/credit/balance:
    get:
      operationId: get-auth-v1-user-credit-balance
      summary: Get the specified user's credit balance
      description: Returns the credit balance for the specified user (KYC-verified).
      tags:
        - Credit APIs

      security:
        - authorization: [ ]
      responses:
        '200':
          description: User credit balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    format: double
        '401':
          description: Unauthorized or KYC not verified
        '404':
          description: User credit record not found
        '500':
          description: Internal server error
  /auth/v1/admin/user/credit/balance/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the User
        schema:
          type: string
          format: uuid
    get:
      operationId: get-auth-v1-admin-user-credit-balance
      summary: Get the specified user's credit balance
      description: Returns the credit balance for the specified user (KYC-verified).
      tags:
        - Credit APIs

      security:
        - authorization: [ ]
      responses:
        '200':
          description: User credit balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    format: double
        '401':
[...]
